
/* Navbar Customization */
.navbar {
    background: linear-gradient(135deg, #e9edf1, #e3e9ee);
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #070000d3 !important;
}
.nav-link {
    color: #070000 !important;
    font-weight: 500;
    transition: 0.3s;
    margin: 10px 10px;
}
.nav-link:hover {
    color: #ffdd57 !important;
    transform: scale(1.05);
}
.dropdown-menu {
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.dropdown-item {
    transition: 0.3s;
}
.dropdown-item:hover {
    background: #007bff;
    color: #fff;
}
.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
}
#signup {
    background-color: #f8ddba;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 18px;
    transition: background-color 0.5s ease, color 0.3s ease;
}

#signup:hover {
    background-color: #ebc086;
    color: black;
}


/* Footer Styling */
.footer {
    background: linear-gradient(135deg, #e9edf1, #e3e9ee);
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}
.footer a {
    color: #ffdd57;
    text-decoration: none;
    font-weight: 500;
    margin: 0 10px;
}
.footer a:hover {
    color: #fff;
}
